
<div class="container">
<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">

	<div *ngFor="let emp of empList" class="col">
		<div class="card radius-15">
			<div  class="card-body text-center">
				<div class="p-4 border radius-15">
					<img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_1280.png" width="110" height="110" class="rounded-circle shadow" alt="">
					<h5 class="mb-0 mt-5">{{emp.firstname}} {{emp.lastname}}</h5>
					<p class="mb-3">{{emp.job}}</p>
					<div class="list-inline mt-3 mb-3"> 
						<button (click)="onDelete(emp.id)" class="list-inline-item border-0"> <i class="fa fa-times"></i></button>
						<button (click)="onEdit(emp.id)" class="list-inline-item border-0"> <i class="fa fa-pencil edit"></i> </button>
					</div>
					<div class="d-grid"> Contact info: {{emp.number}}
					</div>
				</div>
			</div>

		</div>
	</div>


</div>
</div>